# Потенциометрическое титрование

In [9]:
import pandas as pd

# Open the file and read the lines
with open('data.tdc', 'r', encoding='latin-1') as file:
    lines = file.readlines()

# Find the start and end of the "D_Tit" section
start_index = lines.index('D_Tit\n') + 1
end_index = start_index + lines[start_index:].index('\n')

# Extract the data for the "D_Tit" section
data = [line.strip().split() for line in lines[start_index:end_index]]

# Create a DataFrame from the data
df = pd.DataFrame(data, columns=['Column1'])

# Convert the column to numeric data type
df['Column1'] = pd.to_numeric(df['Column1'])

# Convert the DataFrame to a plain text string with columns separated by commas
output = df.to_csv(index=False, header=False)

# Print the output
print(output)

526

In [8]:
df

   Column1
0      526